body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;

  > * {
    padding: 2rem;
  }
}

header {
  background: rgb(240, 240, 240);
}

footer {
  background: rgb(240, 240, 240);
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
}
